body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #fff;
    color: #434455;
}
.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 
main {
    flex-grow: 1;
}
h1, h2, h3 {
    margin: 0;
}
p {
    margin: 0;
}
ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    max-width: 1158px;
    margin: 0 auto;  
    padding: 0 15px;
}
.header-box {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    justify-content: space-between; 
}
.nav-header {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    margin-left: auto;
    gap: 40px;
}
.contact-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}
.logo-web {
    color: #2e2f42;
}
.nav-link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-active {
    color: #404bbf; 
}
.nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
    opacity: 1
}
.nav-link:hover, 
.nav-link:focus, 
.nav-link.current, 
.contact-link:hover, 
.contact-link:focus {
    color: #404bbf;
}
.contact-info {
    font-style: normal;
}
.contact-link {
    text-decoration: none;
    color: #434455;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover, .contact-link:focus  {
    color: #404bbf;
}
h1, h2 {
    text-align: center;
    font-weight: 700;
    color: #2e2f42;
}
.hero {
    background-color: rgb(46, 47, 66);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    text-align: center;
}
.btn {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    min-width: 169px;
    min-height: 56px;
    display: block;
    border: none;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus{
    background-color: #404bbf;
}
.studio-hidden {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features, .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.box-icons {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    width: 100%;
    height: 112px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-item {
    flex-basis: calc((100% - 72px) / 4);
}
.team-list {
    display: flex;
    gap: 24px;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    min-width: 162px;
    margin: 0 auto;
    margin-bottom: 72px;
}
.team-member {
    background-color: #ffffff;
    border: none;
    align-items: center;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.card-text {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.social-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.social-container-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social{
    fill: #f4f4fd;
}
.social-container-link:hover, .social-container-link:focus {
    background-color: #404bbf;
} 
.features-title, .team-name, .portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text, .team-role, .portfolio-category {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team-name, .portfolio-title, .features-title, .team-role {
    margin-bottom: 8px;
}
.team {
    background-color: rgb(244, 244, 253);
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    flex-shrink: 0;
    max-width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .post-text {
    transform: translateY(0);
}
.portfolio-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.post-box {
    position: relative;
    overflow: hidden;
}

.post-text {
    position: absolute;
    top: 0;
    height: 100%;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.portfolio-text {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5 ;
}
.footer-text, .logo-web-footer  {
    color: #f4f4fd;
}
.footer {
    background-color: rgb(46, 47, 66);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    max-width: 264px;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-logo-box {
    margin-right: 120px;
}
.footer-media-text {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}
.social-container-footer {
    display: flex;
    gap: 16px;
}
.social-footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #4d5ae5;
    border-radius: 50%;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer-social {
    fill: #f4f4fd;
}
.social-footer-link:hover, .social-footer-link:focus {
    background-color: #31d0aa;
}